[submodule "src/nut/3rdparty/serializer"]
	path = src/nut/3rdparty/serializer
	url = https://github.com/HamedMasafi/Serializer.git
[submodule "3rdparty/serializer"]
	path = 3rdparty/serializer
	url = https://github.com/HamedMasafi/Serializer.git
